// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
	height: 100%;
	margin: 0px;
}

.small {
	.radio input[type="radio"], 
	.radio-inline input[type="radio"], 
	.checkbox input[type="checkbox"], 
	.checkbox-inline input[type="checkbox"] {
		margin-top: 2px;
	}
}

.fm-map {
	position: fixed; 
	top: 0px; 
	left: 0px;
	width: 100%; 
	height: 100%;
	.info-popover {
		width: 300px;
		padding: 7px;
		.popover-title {
			border-radius: 0px;
		}
		.popover-content {
			padding: 0px;
			hr {
				margin-top: 0px;
				margin-bottom: 5px;
			}
		}
		.event-img { 
			width: 286px;
			height: 143px;
			background-size: cover !important;
			margin-bottom: 9px;
		}
	}
}

.fm-filterbox {
	position: absolute; 
	bottom: 0px; 
	left: 65px; 
	width: 485px;
	.filter-title {
		margin-left: 5px;
	}
	.js-more {
		position: absolute;
		top: 0px;
		right: 20px;
	}
	.js-more-categories {
		hr {
			margin-top: 5px;
			margin-bottom: 5px;
		}
		label:nth-child(3n+2) {
			margin-left: 0px;
		}
	}
	hr {
		margin-top: 0px;
		margin-bottom: 15px;
	}
}