// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
	height: 100%;
	margin: 0px;
}

.small {
	.radio input[type="radio"], 
	.radio-inline input[type="radio"], 
	.checkbox input[type="checkbox"], 
	.checkbox-inline input[type="checkbox"] {
		margin-top: 2px;
	}
}

.gm-style-iw {
	top: 0px !important;
	left: 0px !important;
	width: 100% !important;
	height: 100% !important;
}

.gm-style-iw > .gm-iw {
	margin-left: 12px;
	margin-top: 9px;
}

.fm-map {
	position: fixed; 
	top: 0px; 
	left: 0px;
	width: 100%; 
	height: 100%;
	.info-popover {
		width: 300px;
		padding: 1px;
		.popover-title {
			border-radius: 0px;
			width: 342px;
			padding-right: 30px;
		}
		.popover-content {
			padding: 0px;
			.description {
				margin: 10px;
				width: 324px;
			}
		}
		.event-img { 
			width: 342px;
			height: 143px;
			background-size: cover !important;
			border-bottom: 1px solid #ebebeb;
		}
	}
}

.fm-filterbox {
	position: absolute; 
	bottom: 0px; 
	left: 65px; 
	width: 420px;
	&.expanded {
		~ .daterangepicker.dropdown-menu.opensright {
			bottom: 315px !important;
		}
	}
	.filter-title {
		margin-left: 5px;
	}
	.form-group {
		position: relative;
	}
	.collapse-link:hover {
		text-decoration: none;
	}
	.checkbox-inline {
		height: 41px;
		width: 100px;
		margin-left: 5px;
		&:nth-child(3n+2),
		&:first-child {
			margin-left: 0px;
		}
	}
	.js-more-btn {
		position: absolute;
		left: 50%;
		margin-left: -25px;
		bottom: -30px;
		background: white;
	}
	.js-more-categories {
		hr {
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
	hr {
		margin-top: 0px;
		margin-bottom: 15px;
	}
	.more-links {
		position: absolute;
		right: 15px;
		bottom: 0px;
	}
}

.daterangepicker.dropdown-menu.opensright {
	top: auto !important;
	bottom: 220px !important;
	left: 185px !important;
	&:before {
		top: auto;
		border-top: 7px solid #CCC;
		bottom: -7px;
		border-bottom: none;
	}
	&:after {
		top: auto;
		border-top: 6px solid #FFF;
		bottom: -6px;
		border-bottom: none;
	}
}
